{% extends "layout.html.twig" %}

{% block title %}Gestion des Catégories{% endblock %}

{% block content %}

    <trip>
        {%  if categories is not empty %}
            <table id="table_id" class="display">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td><a href="{{ path('category', { 'id': categorie.id }) }}">{{ categorie.name }}</a></td>
                        <td>{{ categorie.description|truncate(200) }}</td>
                        <td>
                            <a href="{{ path('admin_category_edit', { 'id': categorie.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ categorie.id }}"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <div class="modal fade" id="commentDialog{{ categorie.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous supprimer cette catégorie ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                            <a href="{{ path('admin_category_delete', { 'id': categorie.id }) }}" class="btn btn-danger">Confirmer</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1> Votre pannier est vide ! </h1>
        {% endif %}
        <br/>
        <a href="{{ path('admin_trip_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un nouveau séjour</button></a>
    </trip>
{% endblock %}