{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

    <article>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Destination</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Catégorie</th>
                <th>Destination</th>
                <th>Prix</th>
            </tr>
            </tfoot>
            <tbody>
                    {% for cart in carts %}
                    <tr>
                        <td><a href="{{ path('category', { 'id': cart.trip.category.id }) }}">{{ cart.trip.category.name }}</a></td>
                        <td><a href="{{ path('trip', { 'id': cart.trip.id }) }}">{{ cart.trip.name }}</td>
                        <td>{{ cart.trip.price }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}