{% extends "layout.html.twig" %}

{% block title %}Panier{% endblock %}

{% block content %}

    <article>
        {%  if carts is not empty %}
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Destination</th>
                    <th>Prix</th>
                    <th style="max-width: 5px">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in carts %}
                    <tr>
                        <td><a href="{{ path('category', { 'id': cart.trip.category.id }) }}">{{ cart.trip.category.name }}</a></td>
                        <td><a href="{{ path('trip', { 'id': cart.trip.id }) }}">{{ cart.trip.name }}</td>
                        <td>{{ cart.trip.price }}</td>
                        <td  style="text-align: center">
                            <a href="{{ path('removecart', { 'id': cart.id }) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1> Votre pannier est vide ! </h1>
        {% endif %}
    </article>
{% endblock %}