{% extends "layout.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="well well-lg center-block">
{#               <img src="{{ app.request.basepath }}/{{ category.image }}" class="img-thumbnail img-responsive center-block" alt="" width="350" height="250"> #}
                <h3>{{ category.name }}</h3>
                <p>{{ category.description }}</p>
            </div>
        </div>

        <div class="row">
        {% for trip in trips %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <a href="{{ path('trip', { 'id': trip.id }) }}"><img src="{{ app.request.basepath }}/{{ trip.image }}" alt=""></a>
                    <div class="caption">
                        <h4 class="pull-right">{{ trip.price }} €</h4>
                        <h4><a href="{{ path('trip', { 'id': trip.id }) }}">{{ trip.name }}</a>
                        </h4>
                        <p>{{ trip.description|truncate(140) }} </p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun voyage pour cette catégorie !</p>
        {% endfor %}
        </div>
    </div>

{% endblock %}