{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Catégorie</p>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="#" class="list-group-item">{{ category.name }} ({{ category.nbtrips }})</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                {% for trip in trips %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{{ app.request.basepath }}/images/welcome_banner.png" alt="">
                                </div>
                            {% for trip in trips %}
                                <div class="item" style=" width:100%; height: 400px !important;">
                                    <img class="slide-image" src="{{ app.request.basepath }}/{{ trip.image }}" alt="" style="width: 100%;">
                                </div>
                            {% endfor %}

                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for trip in trips %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ app.request.basepath }}/{{ trip.image }}" alt="" style=" width:100%; height: 150px !important;">
                                <div class="caption">
                                    <h4 class="pull-right">{{ trip.price }} €</h4>
                                    <h4><a href="{{ path('trip', { 'id': trip.id }) }}">{{ trip.name }}</a>
                                    </h4>
                                    <p>{{ trip.description|truncate(140) }} </p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">TODO reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                </div>

                {#
                {% for trip in trips %}
                    <p class="lead"><a class="articleTitle" href="{{ path('trip', { 'id': trip.id }) }}">{{ trip.name }}</a></p>
                    <p>{{ trip.description }}</p>
                    <p>{{ trip.price }}</p>
                    <p>{{ trip.category.name }}</p>
                    <p>{{ trip.image }}</p>
                {% endfor %}
                #}
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}