{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for trip in trips %}
        <article>
            <h2><a class="articleTitle" href="#">{{ trip.name }}</a></h2>
            <p>{{ trip.description }}</p>
            <p>{{ trip.price }}</p>
            <p>{{ trip.category }}</p>
            <p>{{ trip.image }}</p>
        </article>
    {% endfor %}
{% endblock %}